/* for print markdown preview part */
@media print {
  body {
    visibility: hidden;
  }
  #md-preview {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }

  @page {
    margin-left: 0.5in;
    margin-right: 0.5in;
    margin-top: 0;
    margin-bottom: 0;
  }
}
