/* for print markdown preview part */
@media print {
  body {
    visibility: hidden;
    -webkit-print-color-adjust: exact;
  }
  #md-preview {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}
